#legend
{
    position: absolute;
    top: 50%;
    height: 400px;
    margin-top: -200px; /* минус от половины высоты */
    right: 1px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    border: 1px solid #C6CACD;
    box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);
    padding: 20px; 
    z-index: 1000;
}